body {
    background-color: rgb(21, 20, 20,1);
    margin: 0;
}

* {
    box-sizing: border-box;
}

#header {
    background-image: url(caleydo.jpg);
    background-size: 50%;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 1);
    position:sticky;
    width: 100%;
    height: 12vw;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items:center;
    align-content: center;
    flex-direction: row;
    overflow: auto;
}

.navBarButton {
    background-color: rgb(21, 20, 20,1);
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 2px black;
    font-family: 'Yeseva One', cursive;
    font-size: 1.1vw;
    padding: 0.5vw;
    border-radius: 6px;
    border: 3px solid black;
    width: 150px;
    height: 35px;
    margin: 20px;
}

.navBarButton:hover {
    background-color: rgb(21, 20, 20,0.8);
    cursor: pointer;
}

.headTitle {
    color: rgba(218, 37, 113, 0.88);
    text-shadow: 5px 5px 5px black;
    font-family: 'Yeseva One', cursive;
    font-size: 10vw;
    margin: 0.4em;
}

.books {
    color: rgba(181, 182, 251, 0.88);
    text-shadow: 5px 5px 5px black;
    font-family: 'Yeseva One', cursive;
    font-size:7vw;
}

.otherTitle {
    color:AliceBlue;
    text-shadow: 5px 5px 5px black;
    font-family: 'Macondo', cursive;
    font-size: 3.4vw;
    margin: 1em 1.2em;
}

#firstPage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

#enter {
    background-color: rgba(200, 7, 134, 0.8);
    color: rgba(255, 255, 255, 0.88);
    text-shadow: 1px 1px 2px black;
    border: 2px solid rgba(200, 7, 134, 0.4);
    font-family: 'Yeseva One', cursive;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 25px;
    width: 14vw;
    height: 5vw;
    margin: 20px; 
}

#enter:hover {
    cursor: pointer;
    background-color: rgba(198, 162, 250, 0.87);
}

.hidden {
    display: none;
}

.hiddenBox{
	display: flex;
	justify-content: center; 
    min-width:min-content; 
}

.title {
    background-color:rgba(162, 247, 247, 0.77);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Macondo', cursive;
    font-size: 2vw;
    text-align: center;
    margin-top: 0%;
    padding: 8px;
    border-radius: 7px 7px 7px 7px;
    width: 100%;
    height: 2em;
}

#discount {
    border-top: 3px solid white;
    border-bottom: 3px solid white;;
}

.block1,.block2 {
    background-color: rgb(21, 20, 20,1);        
    padding-bottom: 3%;
    max-width: 100%;
    margin: 10px;
}

.inputs > label {
    color:rgba(255, 255, 255, 0.88);
    font-family: 'Yeseva One', cursive;
    font-size: 1.4vw;
}

input[type=radio] {
    padding: 12px;
    margin: 17px;   
}

input[type=radio] {
    accent-color: rgb(139, 89, 225); 
}

.formBox {
    background-color: rgba(181, 182, 251, 1);  
    width: 50vw;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content:center;
    text-align: center;
}

div label[for=fname],label[for=email],label[for=cardnumber] {
    color:rgba(0, 0, 0, 1);
    font-family: 'Yeseva One', cursive;
    font-size: 1.2vw;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    height: 2em;
}

#fname,#email,#cardNumber{
    border-radius: 7px;
    border: none;
    padding: 3px;
    margin: 3px;
    width: 70%;
    height: 2.5em;

}

#theValidation {
    font-family: 'Macondo', cursive;
    font-weight: 3px;
    font-style: italic;
    padding: 5px;
    justify-content: center;
    width: 70%;
    height: 2em;
}

.securityBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    align-content: center;
    width: 100%;
}

div label[for=expiration],label[for=codecvv] {
    color:rgba(0, 0, 0, 1);
    font-family: 'Yeseva One', cursive;
    font-size: 1.2vw;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    height: 2em;
}

#expiration {
    border-radius: 7px;
    border: none;
    padding: 3px;
    margin: 4px;
    width: 100%;
    height: 2.5em;
}

#codecvv {
    border-radius: 7px;
    border: none;
    padding: 3px;
    margin: 4px;
    width: 100%;
    height: 2.5em;
}

.b1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 6em;
    padding: 0px;
    border: 0px;
}

.b2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 6em;
    padding: 0px;
    border: 0px;
}

img {
    width: 430px;
    height: 50px;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:stretch;
    align-content: center;
    width: 70%;
    height: 80px;
}

#valid,#clean {
    background-color: rgb(21, 20, 20,1);
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 2px black;
    font-family: 'Yeseva One', cursive;
    font-size: 1.1vw;
    margin: 7px;
    padding: 0.5vw;
    border-radius: 6px;
    border-style: none;
    width: 15vw;
    height: 3vw;    
}

#buy {
    background-color: rgba(200, 7, 134, 0.9);
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 2px black;
    font-family: 'Yeseva One', cursive;
    font-size: 1.2vw;
    margin: 5px;
    padding: 0.5vw;
    border: 2px solid #000000;
    border-radius: 50px;
    width: 11vw;
    height: 4vw;
}

#valid:hover, #clean:hover, #buy:hover {
    cursor: pointer;
    transform: scale(1.03,1.03);
}

.rights {
    font-style: italic;
    font-family: 'Macondo', cursive;
}

footer {
    background-color:rgb(21, 20, 20,1);
    color:AliceBlue;
    text-shadow: 1px 1px 1px black;
    font-family: 'Macondo', cursive;  
    text-align: center;
    margin: 0;
    border-top: 1px solid rgba(162, 247, 247, 0.1);
    padding: 40px;
    height: 200px;   
}
